#video
{
	position: absolute;
	width: 1200px;
	height: 680px;
	left: 25%;
	
}
#ServicesDescription
{
	font-size: 20px;
	
	
}

#VidIframe
{
	width: 600px;
	height: 340px;
}
#spacing
{
	position: relative;
	height: 50px;
	background: red;
}
#box1
{
	margin-top: 5%;
	
	
	
}

#box1A
{
	
	display:inline-block;
	font-size:30px;
	top: 0;
	width: 40%;
	margin-left: 5%;
	background-color: red;
	text-align: center;
	vertical-align: top;
	height: 400px;
	background-color: rgb(192,208,241, 0.9);
	  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;

  
  
  min-height: 200px;
  border-radius: 5px;

	
}

#AboutUsInfo
{
	
}
#box1B
{
	
	display:inline-block;
	font-size:30px;
	top: 0;
	width: 40%;
	margin-left: 5%;
	background-color: blue;
	text-align: center;
	vertical-align: top;
	height: 400px;
	background-color: rgb(192,208,241, 0.9);
		  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;

  
  
  min-height: 200px;
  border-radius: 5px;
}
/*for box 2:*/
#box2
{
	margin-top: 5%;		
}

#box2A
{
	display:inline-block;
	font-size:30px;
	top: 0;
	width: 40%;
	margin-left: 5%;
	background-color: red;
	text-align: center;
	vertical-align: top;
	height: 400px;
	background-color: rgb(192,208,241, 0.9);	
		  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;

  
  
  min-height: 200px;
  border-radius: 5px;
}

#box2B
{
	display:inline-block;
	font-size:30px;
	top: 0;
	width: 40%;
	margin-left: 5%;
	background-color: blue;
	text-align: center;
	vertical-align: top;
	height: 400px;
	background-color: rgb(192,208,241, 0.9);
		  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;

  
  
  min-height: 200px;
  border-radius: 5px;
}
a:link {  text-decoration: underline;}
a:hover { background : yellow ; } /*this sets the background highlight of hyperlink texts to be yellow when hovering over them*/
a:active { background : olive ; }/*this sets the background highlight of hyperlink texts to be olive when hovering over them*/
a:visited { background : aqua ; text-decoration: none; }/*this sets the background highlight of visited  hyperlink texts to be blue when hovering over them*/

ul.disc-bullets { list-style-type: disc; float:left; }
ul.circle-bullets { list-style-type: circle; float:left; }
ul.square-bullets { list-style-type: square; float:left; }
ul.image-bullets
{ 
	list-style-image: url(ClickHere.png);  
	text-align: left;
	font-family: 'Helvetica', 'Arial', sans-serif;	
	font-style: italic;
	font-weight: 400;
	font-size: 20px;
	color: white;
	width: 400px;
	line-height: 1.5;

}
ul.image-bullets2 
{ 
	list-style-image: url(ClickHere.png);  
	text-align: left;
	font-family: 'Helvetica', 'Arial', sans-serif;	
	font-style: bold;
	font-weight: 400;
	font-size: 20px;
	color: white;
	width: 400px;
	line-height: 1.8;
	width: 100%;
	text-decoration: none;
}


#headerBarLinks
{
	text-align: left;
	font-family: 'Helvetica', 'Arial', sans-serif;	
	font-style: italic;
	font-weight: 400;
	font-size: 50px;
	color: white;
	line-height: 1.1;
	list-style-image: url(ClickHere.png);
}
#divA
{
	position: absolute;
	top: 30%;
	height: 300px;
	left: 55%;
	width: 500px;
	background-color: rgb(192,208,241, 0.8);
	list-style-image: url(ClickHere.png);
	vertical-align: top;
	  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;

  
  
  min-height: 200px;
  margin: 100px auto;
  border-radius: 5px;
	
}
#divB
{
	position: relative;
	list-style-image: url(ClickHere.png);
	
	left: 20%;
	top: 20%;
	vertical-align: top;
	width: 200px;

}
#AboutUsLinks
{
	font-size: 30px;
	color: black;
}
#AboutUsLinks2
{
	font-size: 30px;
	color: black;
}
#divC
{
	position: absolute;
	top: 30%;
	height: 400px;
	left: 55%;
	width: 500px;
	background-color: rgb(192,208,241, 0.8);
	list-style-image: url(ClickHere.png);
	vertical-align: top;
	
}
#divD
{
	position: relative;
	list-style-image: url(ClickHere.png);
	left: 20%;
	top: 20%;
	width: 100%;
	vertical-align: top;

}
#divE
{
	position: absolute;
	top: 40%;
	height: 250px;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	background-color: rgb(192,208,241, 0.6);
	list-style-image: url(ClickHere.png);
	vertical-align: top;
	  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;

  

  border-radius: 5px;
	
	
}
#divF
{
	position: relative;
	list-style-image: url(ClickHere.png);
	left: 10%;
	top: 20%;
	width: 90%;
	font-size: 30px;
	vertical-align: top;
	font-variant: normal;
	font-family: 'Helvetica', 'Arial', sans-serif;	
	font-style: normal;
	font-weight: 500;
	line-height: 1.1;

}
/* for general*/
*{ 

    margin: 0; /*this removes the margin of the whole website so the website takes 100% of the screen, so that there is no gap*/

    padding: 0; 
	

} 

html{ 

    scroll-behavior: smooth;/*this makes scrolling smooth instead of instantly being brought to that link withint the webpage (section)*/

} 


#Scroll1
{
		position: fixed;
		
		bottom: 0;
		right: 0;
		 transform: translate(-50%, -50%);
		 display: inline-block;
		 background-color: rgb(192,208,241, 0.9);
}

#Scroll2
{
		position: fixed;
		
		bottom: 0;
		right: 0;
		 transform: translate(-50%, -50%);
		 display: inline-block;
		 background-color: rgb(192,208,241, 0.9);
}

#aboutParagraphInfo
{
	background-image: url(CablesBackground2.png);
	background-size: cover;
}

#menu li{ 

	display: inline-block; /*this puts everything on the same line but are still separated as blocks*/

    list-style-type: none; /*this removes any styling of the list, just texts*/
   
    margin: 20px; /*this add 20px margins on eachs side of the menu list*/

} 

  

#menu li a{ 

    font-size: 20px; /*this sets the text size as 20px*/
	
	color: white; /*this makes the text white instead of the default black*/

    text-decoration: none; /*this removes the blue tint to texts with links in them so that the texts are only white*/

     

} 

header{ 
	background-color: rgba(9,7,210,0.7);/*this sets the color to a blueish color and a little bit see through*/
    z-index: 18; /*this sets the priority to 18th, which puts it behind 18 other objects*/
    padding: 0px 0px;
    position: fixed; /*this makes the header fixed, it stays despite scrolling*/
    width: 100%; 
	display: flex; 	
    justify-content: space-between; /*this distributes objects within header (in this case text) in the middle, with spacing between them*/
	margin-top:-75px; /*this puts the header 75px higher*/
	
}

nav.header
{
	background-color: rgb(9,7,210,0.7,0.8); /*this sets the color to blueish, but less see through than the one before*/
}

section{ 

    width: 100%; 

    float: left; 

    height: 100vh; 

    position: relative; 

} 
body{ 

    font-size: 100%; 
	margin-top: 75px;


} 

#Home
{
	background-image: url(background1.png);
	background-size: cover;
}
/*for everything in About section of website*/
#About
{
	background-image: url(background1.png);
	 background-size: cover; /*this sets the background image to fully cover the whole About section*/
	 min-height: 110%;
}
dl
{
	text-align: left;
	font-variant: normal;
	font-family: 'Helvetica', 'Arial', sans-serif;	
	font-style: italic;
	font-weight: 300;
	line-height: 1.1;
	text-decoration: normal;
	margin-left: 5%; /*this adds a gap to the left of everything in the dl tag (5% of the total width)*/
	margin-right: 5%;/*this adds a gap to the right of everything in the dl tag (5% of the total width)*/
}
dt
{
	Text-decoration: underline;
	font-size: 50px;
	color: rgb(0,109,187);
	margin-top: 5%; /*this adds a gap to the top of everything in the dt tag (5% of the total height)*/
}
dd
{
	font-size: 30px; /*this sets the size of texts within the dd tag as 30px*/
	color: black;
}
#quote
{
	position: absolute; /*this sets the position of the quote as absolute, not relative. the position of the quotes only depends on the total screen*/
	font-variant: normal;
	font-family: 'Helvetica', 'Arial', sans-serif;	
	font-style: italic;
	font-weight: 300;
	line-height: 1.1;
	text-decoration: underline;
    top: 80%; /*this sets the position of the quote to be 20% of the total height*/
	font-size: 50px;	

    right: 5%; 

    transform: translate(-50%, -50%);  /*this moves the object left and upwards by 50% */

    color: white; 
	z-index: 999; /*this makes it the very back layer of the website*/
	
}

#aboutSectionInfo
{
	background-color: rgb(23,26,51);
	height: 200%; /*this sets the height of about section infor to be twice of the height of the screen*/
}



/*for everything in services section of website*/
#Services
{
	background-image: url(background1.png);
	 background-size: cover;
	 color: white;
	 
	

}

#servicesParagraphInfo
{
	background-image: url(CablesBackground2.png);
	background-size: cover;
	height: 100%;
	color: beige;
	font-variant: normal;
	font-family: 'Helvetica', 'Arial', sans-serif;	
	font-style: italic;
	font-weight: 300;
	line-height: 1.1;
	text-decoration: normal;

}

#ourservices
{
	position: absolute; 
	font-variant: normal;
	font-family: 'Helvetica', 'Arial', sans-serif;	
	font-style: italic;
	font-weight: 300;
	line-height: 1.1;
	text-decoration: underline;
	
    top: 75%;
	color: white;
	font-size: 50px;	

    left: 50%; 

    transform: translate(-50%, -50%); 

   
	z-index: 999;
	}
#lvl1
{
	margin-top: 5%;
}

#lv11A
{
	display:inline-block;
	font-size:30px;
	top: 5%;
	width: 40%;
	margin-left: 5%;
	vertical-align: top;
	

	font-size:30px;
	top: 0;
	width: 40%;
	margin-left: 5%;
	background-color: red;
	text-align: center;
	vertical-align: top;
	height: 400px;
	background-color: rgb(0,109,187, 0.8);
	  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;

  
  
  min-height: 200px;
  border-radius: 5px;
padding-bottom: 2%;
padding-top: 1%;
	
}

#lvl1B
{
	display:inline-block;
	font-size:30px;
	top: 5%;
	width: 40%;
	margin-left: 5%;
	vertical-align: top;
		font-size:30px;
	top: 0;
	width: 40%;
	margin-left: 5%;
	background-color: red;
	text-align: center;
	vertical-align: top;
	height: 400px;
	background-color: rgb(0,109,187, 0.7);
	  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;

  
  
  min-height: 200px;
  border-radius: 5px;
padding-bottom: 2%;
padding-top: 1%;
}

#lvl2
{
	margin-top: 5%;
}

#lvl2A
{
	display:inline-block;
	font-size:30px;
	top: 5%;
	width: 40%;
	margin-left: 5%;
		font-size:30px;
	top: 0;
	width: 40%;
	margin-left: 5%;
	background-color: red;
	text-align: center;
	vertical-align: top;
	height: 400px;
	background-color: rgb(0,109,187, 0.9);
	  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;

  
  
  min-height: 200px;
  border-radius: 5px;
padding-bottom: 2%;
padding-top: 1%;
}
#lvl2B
{
	display:inline-block;
	font-size:30px;
	top: 5%;
	width: 40%;
	margin-left: 5%;
		font-size:30px;
	top: 0;
	width: 40%;
	margin-left: 5%;
	background-color: red;
	text-align: center;
	vertical-align: top;
	height: 400px;
	background-color: rgb(0,109,187, 0.9);
	  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;

  
  
  min-height: 200px;
  border-radius: 5px;
padding-bottom: 2%;
padding-top: 1%;
}
#lvl3
{
	margin-top: 5%;
}

#lvl3A
{
	display:inline-block;
	font-size:30px;
	top: 5%;
	width: 40%;
	margin-left: 5%;
		font-size:30px;
	top: 0;
	width: 40%;
	margin-left: 5%;
	background-color: red;
	text-align: center;
	vertical-align: top;
	height: 400px;
	background-color: rgb(0,109,187, 0.9);
	  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;

  
  
  min-height: 200px;
  border-radius: 5px;
padding-bottom: 2%;
padding-top: 1%;
}

#lvl3B
{
	display:inline-block;
	font-size:30px;
	top: 5%;
	width: 40%;
	margin-left: 5%;
		font-size:30px;
	top: 0;
	width: 40%;
	margin-left: 5%;
	background-color: red;
	text-align: center;
	vertical-align: top;
	height: 400px;
	background-color: rgb(0,109,187, 0.9);
	  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;

  
  
  min-height: 200px;
  border-radius: 5px;
padding-bottom: 2%;
padding-top: 1%;
}

/*for everything in projects section of website*/
#projects
{
	background-image: url(background3.png);
	 background-size: 100% ;
	background-repeat: no-repeat;	 /*the original image is small so it repeats, this prevents it from happening*/
	border-bottom: 5px solid black;
}
#projectsProjects
{
font-variant: normal;
	font-family: 'Helvetica', 'Arial', sans-serif;	
	font-style: italic;
	font-weight: 300;
	line-height: 1.1;
	text-decoration: underline;
	position: absolute; 
	
    top: 15%;
	font-size: 50px;	

    left: 50%; 

    transform: translate(-50%, -50%); 

    color: black; 
	z-index: 999;
	
}
#JGSummitProjects
{
	font-variant: normal;
	font-family: 'Helvetica', 'Arial', sans-serif;	
	font-style: italic;
	font-weight: 300;
	line-height: 1.1;
	text-decoration: underline;
	position: absolute; 
	
    top: 80%;
	font-size: 50px;	

    left: 25%; 

    transform: translate(-50%, -50%); 

    color: black; 
	z-index: 999;	
	background: grey;	
}
#UnioilProjects
{
	font-variant: normal;
	font-family: 'Helvetica', 'Arial', sans-serif;	
	font-style: italic;
	font-weight: 300;
	line-height: 1.1;
	text-decoration: underline;
	position: absolute; 
	
    top: 80%;
	font-size: 50px;	

    right: 25%; 

    transform: translate(-50%, -50%); 

    color: black; 
	z-index: 999;
	background: grey;	
}
#UnioilSection
{
	font-variant: normal;
	font-family: 'Helvetica', 'Arial', sans-serif;	
	font-style: italic;
	font-weight: 300;
	line-height: 1.1;
	text-decoration: normal;
	
}
#JGSummitSection
{
	font-variant: normal;
	font-family: 'Helvetica', 'Arial', sans-serif;	
	font-style: italic;
	font-weight: 300;
	line-height: 1.1;
	text-decoration: normal;
	
}
#lev1
{
	margin-top: 5%;
	justify-content: center;
}
#lev1A
{
	display:inline-block;
	font-size:50px;
	top: 5%;
	width: 45%;
	margin-left: 5%;
	vertical-align: top;
}
#lev1B
{
	display:inline-block;
}
#lev2
{
	margin-top: 5%;
	justify-content: center;
	
}
#lev2A
{
	display:inline-block;
	margin-left: 5%;
	text-align: right;
	
}
#lev2B
{
	display:inline-block;
	font-size:50px;
	top: 5%;
	width: 50%;
	padding-left: 2%;
	
}
/*for everything in contact section of website*/

}

#4jmarteEmail
{
	position: relative; 
	
    top: 15%;
	font-size: 100px;	

  display: flex;
	justify-content: center;

    color: black; 
	z-index: 999;
}
#4jmarteFBLI
{
	position: absolute; 
	
    top: 15%;
	font-size: 50px;	

   display: flex;
	justify-content: center;

    color: black; 
	z-index: 999;
}
#logos
{
position: relative;;
	display: flex;
	justify-content: center;
height: 400px;
}
#Contacts
{
	background-image: url(background2.png);	
	background-size: 100% ;
	background-repeat: no-repeat;
position: relative;
}
#paragraph14j
{
top: 50%;
font-size: 50px;
position: absolute;
	background-color: white;
	left: 50%;
text-align: center;
transform: translate(-50%, -50%);
}
#socials
{
	border-style: dotted;
}